
@{
    ViewBag.Title = "AboutMe";
}

<h2>Something About Sihle</h2>
<h5>You can reach me via Email:19235152@tuks.co.za / smbonani82@gmail.com. My contact details:0727252968</h5>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h2>Bio</h2>
            <p>My name is Sihle Mbonai. I am 21 years old and I am a BIT(IS) student at the University of Pretoria.</p>
            <p>I have an older sister and a twin brother. I went to St Francis College and I was the Head Girl. I also was part of the GIBS Spirit of Youth Programme.</p>
            <p>My hobbies include playing sports, chess and dance.</p>
            
        </div>
        <div class="col-lg-4">
            <h2>Sihle Mbonani </h2>
           
            <img src="~/Content/Media/Images/IMG_20190509_105011.jpg" width="500" height="400"/>

        </div>

        </div>
    </div>

